body{
	margin: 0px;
}

#header {
	background: #000000;
	color: #FFFFFF;
	padding: 10px 20px;
	font-family:sans-serif;
}

#header h1{
	margin: 0px;
}

#header ul{
	list-style: none;
	padding: 0px;
	overflow: hidden;
}

#header li{
	float: left;
	margin: 0 15px 0 0;
}

#content {
	margin:0;
	padding:10px;
	font-family: sans-serif;
}

#header ul a{
	color: #FFFFFF;
	text-decoration:none;
}

#header ul a:hover{
	color: #86E797;
}

.two-columns img, .two-columns p{
	float:left;
	width:40%;
}

.two-columns p{
	margin: 0 20px;
}

#content form [type=text], #content form [type=email], #content form textarea{
	display:block;
	margin-bottom: 10px;
	width:50%;
	padding:5px;
	border:0;
	background-color: #D5FFD2;
	color:#9AA29A ;
	clear:both;
}

table{
	border: 1px solid #CCC;
}

#content table tr{
	background-color: #E2FFE2;
}

#content table tr:nth-child(even){
	background-color: #A5F8A5;
}

#content table tr>*{
	padding: 4px;
	border-bottom: 1px solid #CCA5F8;

}
