body{
	margin: 0px;
}

#header {
	background: #000000;
	color: #FFFFFF;
	padding: 10px 20px;
	font-family:sans-serif;
}

#header h1{
	margin: 10px 0 0 0;
}

#header ul{
	list-style: none;
	padding: 0px;
	overflow: hidden;
}

#header ul a{
	color: #FFFFFF;
	text-decoration:none;
}

#header ul a:hover{
	color: #86E797;
}

#header li{
	float: left;
	margin: 0 15px 0 0;
}

#content h1{
	font-size:30px;
}

/*#content p{
	color:#C9C6CB;
}*/

#content h2{
	color:#8E8C90;
}

#content {
	margin:0;
	padding:10px;
	font-family: sans-serif;
}

#content ul{
	padding: 1px;
	list-style: none;
	overflow: hidden;
}

.two-columns img, .two-columns p{
	float:left;
	width:70%;
}

.two-columns p{
	margin: 15px 20px;
	font-size: 18px;
	color:#424341  ;
}

.two-columns a{
	margin: 0;
	text-decoration:none;
	color:#424341;
}

.two-columns a:hover{
	color: #86E797;
}

table{
	border: 1px solid #CCC;
}

#content table tr{
	background-color: #E2FFE2;
}

#content table tr:nth-child(even){
	background-color: #A5F8A5;
}

#content table tr>*{
	padding: 4px;
	border-bottom: 1px solid #CCA5F8;

}

#content img {
    width: 120px;
    height: auto;
}

#education, #exp, #languages, #projects{
	margin-left: 40px;
}
