body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

/* Titulos y textos*/
h1 {
    font-size: 70px;
    font-family: 'Bungee Inline', cursive;
    /*color: #EFFCB6;*/
    color: white;
}

h2 {
    font-size: 40px;
    font-family: 'Bungee Inline', cursive;
    /*color: #EFFCB6;*/
    color: white;
}

p {

}

/*NAV*/
.myDiv {

    text-align: center;
    display: flex;
    align-items: center;

}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
    float: right;
    list-style-type: none;
}  

li {
    float: left;
}

li a {
    color: rgb(184, 184, 184);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding-left: 20px;
    padding-right: 30px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: white;
}

.active {
    color: white;
}
/*NAV*/

/*Clases de Inicio*/
.a {
    text-align: center;
    padding-top: 5% ;
}

.b {
    width: 60%;
    height: 50%;
    top: 60%;
    left: 50%;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(83, 83, 83);
    opacity: 0.75;
    transform: translate(-50%,-50%);
    padding: 10px;
    justify-content: center;
}
.b p a{
    text-decoration:none;
    color: #FFFFFF;
    opacity: 1;}

.b p a:hover{
    text-decoration:none;
    color: #86E797;
    opacity: 1;
}

#link {
    opacity: 1;
}

/*STEM classes*/
.a1 {
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}


/*UNITY SHIT*/
.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}
